:root {
  /* СВЕТЛАЯ ТЕМА */
  --tg-bg-color: #ffffff;
  --tg-text-color: #213547;
  --tg-button-color: #646cff;
  --tg-button-text-color: #ffffff;
  --tg-secondary-bg-color: #f0f0f0;

  /* Цвет поверхности карточек и кнопок */
  --tg-surface-color: #f5f5f5;
  --tg-surface-border: #e0e0e0;
}

[data-theme='dark'] {
  /* ТЕМНАЯ ТЕМА */
  --tg-bg-color: #212121;
  --tg-text-color: #ffffff;
  --tg-button-color: #8774e1;
  --tg-button-text-color: #ffffff;
  --tg-secondary-bg-color: #2f2f2f;

  /* Карточки светлее фона (#333), чтобы их было видно */
  --tg-surface-color: #333333;
  --tg-surface-border: #444444;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  /* УБРАЛИ display: flex и place-items: center, чтобы контент шел сверху вниз */

  background-color: var(--tg-bg-color);
  color: var(--tg-text-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--tg-surface-color);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: var(--tg-button-color);
  color: var(--tg-button-text-color);
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}